In [1]:
import tensorflow as tf  
import keras
from keras.preprocessing.image import ImageDataGenerator

Using TensorFlow backend.

In [2]:
tf.__version__

'2.4.1'

In [3]:
import pandas as pd

In [4]:
train=pd.read_csv('train/train_labels.csv')
train.head()

  filename  width  height class  xmin  ymin  xmax  ymax
0    1.jpg    800     600   Sad   156    79   686   451
1   10.jpg    800     600   Sad   180    67   618   536
2   11.jpg    800     600   Sad   278    93   513   413
3   12.jpg    800     600   Sad   286   121   512   391
4   13.jpg    800     600   Sad   340   252   518   463

In [5]:
test=pd.read_csv('test/test_labels.csv')
test.head()

  filename  width  height  class  xmin  ymin  xmax  ymax
0   23.jpg    800     600    Sad   292    75   576   339
1   24.jpg    800     600    Sad   289   116   456   348
2   25.jpg    800     600    Sad   284    88   509   421
3   48.jpg    800     600  Happy   145    79   654   415
4   49.jpg    800     600  Happy   390   159   744   527

In [6]:
import os
import cv2

In [7]:
for index, row in train.iterrows():
    path="Train/"+row["filename"]
    img = cv2.imread(path)
    x_min=row["xmin"]
    x_max=row["xmax"]
    y_min=row["ymin"]
    y_max=row["ymax"]
    crop_img = img[y_min:y_max, x_min:x_max]
    path=os.path.join('img','Train',str(row['class']),str(row["filename"]))
    print(path)
    cv2.imwrite(path, crop_img)
    #cv2.imshow('image',crop_img)
    #cv2.waitKey(0)

img\Train\Sad\1.jpg
img\Train\Sad\10.jpg
img\Train\Sad\11.jpg
img\Train\Sad\12.jpg
img\Train\Sad\13.jpg
img\Train\Sad\14.jpg
img\Train\Sad\15.jpg
img\Train\Sad\16.jpg
img\Train\Sad\17.jpg
img\Train\Sad\18.jpg
img\Train\Sad\19.jpg
img\Train\Sad\2.jpg
img\Train\Sad\20.jpg
img\Train\Sad\21.jpg
img\Train\Sad\22.jpg
img\Train\Happy\26.jpg
img\Train\Happy\27.jpg
img\Train\Happy\28.jpg
img\Train\Happy\29.jpg
img\Train\Sad\3.jpg
img\Train\Happy\30.jpg
img\Train\Happy\31.jpg
img\Train\Happy\32.jpg
img\Train\Happy\33.jpg
img\Train\Happy\34.jpg
img\Train\Happy\35.jpg
img\Train\Happy\36.jpg
img\Train\Happy\37.jpg
img\Train\Happy\38.jpg
img\Train\Happy\39.jpg
img\Train\Sad\4.jpg
img\Train\Happy\40.jpg
img\Train\Happy\41.jpg
img\Train\Happy\42.jpg
img\Train\Happy\43.jpg
img\Train\Happy\44.jpg
img\Train\Happy\45.jpg
img\Train\Happy\46.jpg
img\Train\Happy\47.jpg
img\Train\Sad\5.jpg
img\Train\Surprised\51.jpg
img\Train\Surprised\52.jpg
img\Train\Surprised\53.jpg
img\Train\Surprised\54.jpg
img\Train\Surprised\55.jpg
img\Train\Surprised\56.jpg
img\Train\Surprised\57.jpg
img\Train\Surprised\58.jpg
img\Train\Surprised\59.jpg
img\Train\Sad\6.jpg
img\Train\Surprised\60.jpg
img\Train\Surprised\61.jpg
img\Train\Surprised\62.jpg
img\Train\Surprised\63.jpg
img\Train\Surprised\64.jpg
img\Train\Surprised\65.jpg
img\Train\Surprised\66.jpg
img\Train\Surprised\67.jpg
img\Train\Surprised\68.jpg
img\Train\Surprised\69.jpg
img\Train\Sad\7.jpg
img\Train\Surprised\70.jpg
img\Train\Surprised\71.jpg
img\Train\Surprised\72.jpg
img\Train\Sad\8.jpg
img\Train\Sad\9.jpg

In [8]:
for index, row in test.iterrows():
    path="Test/"+row["filename"]
    img = cv2.imread(path)
    x_min=row["xmin"]
    x_max=row["xmax"]
    y_min=row["ymin"]
    y_max=row["ymax"]
    crop_img = img[y_min:y_max, x_min:x_max]
    path=os.path.join('img','Test',str(row['class']),str(row["filename"]))
    print(path)
    cv2.imwrite(path, crop_img)
    cv2.waitKey(0)

img\Test\Sad\23.jpg
img\Test\Sad\24.jpg
img\Test\Sad\25.jpg
img\Test\Happy\48.jpg
img\Test\Happy\49.jpg
img\Test\Happy\50.jpg
img\Test\Surprised\73.jpg
img\Test\Surprised\74.jpg
img\Test\Surprised\75.jpg